/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
::-webkit-scrollbar {display:none;}

input[type="number"]::-webkit-outer-spin-button,input[type="number"]::-webkit-inner-spin-button {-webkit-appearance: none;margin: 0;}

.onlineRayTracerObjectsPage {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    width: 100vw;
    height: 100vh;
    min-height: 650px;
    overflow: hidden;
    background-color: #EBEBEB;
    user-select: none;
}

.onlineRayTracerSideBar {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 18.5%;
    min-width: 300px;
    height: 100%;
    background-color: #1C1C1C;
}

.sideBar_logo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 20%;
    min-height: 185px;
}

.sideBar_logo::after {
    content: '';
    width: 220px;
    height: 120px;
    background-image: url('../src/logoWhite.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.sideBar_menu {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    height: 44%;
    min-height: 320px;
}

.sideBar_menu > ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 95%;
    height: 100%;
    list-style:none;
    background-color: #343434;
}

.sideBar_menu > ul > li {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 25%;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.sideBar_menu > ul > li:hover {
    background-color: #b5daf5;
}

.sideBar_menu > ul > li > a {
    font-size: 2.3rem;
    text-decoration: none;
    letter-spacing: 0rem;
    color: #FFFFFF;
}

#goto_objectsP {
    background-color: #A2D2F4;
}

.objectsContents {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    position: relative;
    width: 81.5%;
    min-width: 650px;
    height: 100%;
    background-color: #FFFFFF;
}

.objects_topMenu {
    z-index: 5;
    border-radius: 100px;
    padding: 0 20px 0 40px;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: 1fr;
    position: absolute;
    top: 3%;
    left: 3%;
    width: calc(80% - 6% - 60px);
    height: calc(10% - 1%);
    background-color: #343434;
}

.objects_topMenu > div {
    display: flex;
    align-items: center;
    justify-content: center;
}

.objects_topMenu > div > a, .objects_topMenu > div > a:active {
    color: #FFFFFF;
    font-size: 2rem;
    text-decoration: none;
    cursor: pointer;
}

.objects_main {
    width: 80%;
    height: 100%;
    background: #4A4A4A;
    overflow-y: scroll;
}

#objects_box {
    background-color: #cfcfcf;
}

.objects_sideBar {
    padding-top: 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 20%;
    min-width: 250px;
    height: calc(100% - 2%);
}

.objects_sideBar > div {
    width: 80%;
}

.objects_sideBarTitle {
    border-bottom: 1px solid black;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
    height: 30px;
}

.objects_sideBarTitle > h4 {
    font-size: 1.7rem;
    letter-spacing: -0.05rem;
}

.objects_sideBarTitle > a {
    color: #598FD1;
    cursor: pointer;
}

.objects_sideBarPosition {
    height: 18%;
}

.objects_sideBarPositionC {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100px;
}

.objects_sideBarPositionC > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 25%;
    height: 50%;
}

.objects_sideBarPositionC > div > h5 {
    font-weight: bold;
}

.objects_sideBarPositionC > div > input {
    width: 100%;
    text-align: center;
}

.objects_sideBarRadius {
    height: 20%;
}

.objects_sideBarRadiusC {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 100px;
}

.objects_radiusinputR {
    margin-right: 2%;
    border-left: 2px solid #ABABAB;
    border-right: 2px solid #ABABAB;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 230px;
    height: 30px;
}

.objects_radiusinputR::before {
    content: "";
    position: absolute;
    width: 2px;
    height: 100%;
    background-color: #ABABAB;
}

.objects_radiusinputR > input[type=range] {
    z-index: 50;
    width: 100%;
    height: 20px;
    margin: 0;
    -webkit-appearance: none;
    background: none;
}

.objects_radiusinputR > input[type=range]:focus {
    outline: none;
}

.objects_radiusinputR > input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 2px;
    cursor: pointer;
    background: #707070;
}

.objects_radiusinputR > input[type=range]::-webkit-slider-thumb {
    width: 8px;
    height: 30px;
    background: #384772;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -14px;
}

.objects_radiusinputT {
    width: 220px;
    height: 20px;
    outline: none;
    font-size: 1.2rem;
    text-align: center;
}

.objects_sideBarSurface {
    height: 20%;
}

.objects_sideBarSurfaceC {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    height: calc(75% - 31px);
}

.objects_sideBarSurfaceC > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 25%;
    height: 80px;
}

.objects_sideBarSurfaceC > div > h5 {
    display: flex;
    align-items: center;
    height: 32px;
    font-size: 1rem;
    font-weight: bold;
}

.objects_sideBarSurfaceC > div > img {
    width: 60%;
    height: 40px;
    background-color: #1C1C1C;
}

.objects_sideBarRoughness {
    height: 18%;
}

.objects_sideBarRoughnessC {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 100px;
}

.objects_roughnessinputR {
    margin-right: 2%;
    border-left: 2px solid #ABABAB;
    border-right: 2px solid #ABABAB;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 230px;
    height: 30px;
}

.objects_roughnessinputR::before {
    content: "";
    position: absolute;
    width: 2px;
    height: 100%;
    background-color: #ABABAB;
}

.objects_roughnessinputR > input[type=range] {
    z-index: 50;
    width: 100%;
    height: 20px;
    margin: 0;
    -webkit-appearance: none;
    background: none;
}

.objects_roughnessinputR > input[type=range]:focus {
    outline: none;
}

.objects_roughnessinputR > input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 2px;
    cursor: pointer;
    background: #707070;
}

.objects_roughnessinputR > input[type=range]::-webkit-slider-thumb {
    width: 8px;
    height: 30px;
    background: #384772;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -14px;
}

.objects_roughnessinputT {
    width: 220px;
    height: 20px;
    outline: none;
    font-size: 1.2rem;
    text-align: center;
}

.objects_sideBarColors {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 22%;
}

.objects_sideBarColorsC {
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 180px;
    height: calc(100% - 40px);
}
