::-webkit-scrollbar {display:none;}

input[type="number"]::-webkit-outer-spin-button,input[type="number"]::-webkit-inner-spin-button {-webkit-appearance: none;margin: 0;}

.onlineRayTracerCameraPage {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    width: 100vw;
    height: 100vh;
    /* min-height: 650px; */
    overflow: hidden;
    background-color: #EBEBEB;
    user-select: none;
}

.onlineRayTracerSideBar {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 18.5%;
    min-width: 180px;
    height: 100%;
    background-color: #1C1C1C;
    font-size: 0.85vw;
}

.sideBar_logo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 20%;
    min-height: 110px;
}

.sideBar_logo::after {
    content: '';
    width: 11.5vw;
    height: 6.2vw;
    background-image: url('/src/logo_W.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.sideBar_menu {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    height: 35%;
    min-height: 200px;
}

.sideBar_menu > ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 95%;
    height: 100%;
    list-style:none;
    background-color: #343434;
}

.sideBar_menu > ul > li {
    width: 100%;
    height: 25%;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.sideBar_menu > ul > li:hover {
    background-color: #b5daf5;
}

.sideBar_menu > ul > li > a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    font-size: 2.3em;
    text-decoration: none;
    letter-spacing: 0em;
    color: #FFFFFF;
}

#goto_cameraP {
    background-color: #A2D2F4;
}

.cameraContents {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    position: relative;
    width: 81.5%;
    min-width: 650px;
    height: 100%;
    background-color: #FFFFFF;
    font-size: 0.85vw;
}

.camera_topMenu {
    z-index: 5;
    display: grid;
    grid-gap: 5px;
    position: absolute;
    background-color: #343434;
}

/* @media all and (min-width: 1385px) { */
    .camera_topMenu {
        border-radius: 100px;
        padding: 0 20px 0 40px;
        grid-template-columns: repeat(8, 1fr);
        grid-template-rows: 1fr;
        top: 3%;
        left: 3%;
        width: calc(80% - 6% - 60px);
        height: calc(10% - 3%);
        /* min-width: 580px; */
        /* min-height: 55px; */
    }

    .camera_topMenu > div:nth-child(4) {
        grid-column: 7/9;
    }
/* } */

/* @media (max-width: 1384px) and (min-width: 0px) {
    .camera_topMenu {
        border-radius: 0 0 10px 0;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 1fr);
        width: 20%;
        height: 25%;
        min-width: 200px;
        min-height: 230px;
    }
} */

.camera_topMenu > div {
    display: flex;
    align-items: center;
    justify-content: center;
}

.camera_topMenu > div > a, .camera_topMenu > div > a:active {
    color: #FFFFFF;
    font-size: 2em;
    text-decoration: none;
    cursor: pointer;
}

#camera_front, #camera_right {
    color: #A4A4A4;
}

.withObjects2 {
    display: none;
}

.cameraWidthObjects .withObjects1 {
    display: none;
}

.cameraWidthObjects .withObjects2 {
    display: block;
}

.camera_main {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: 100%;
    background: #bdbdbd;
    overflow-y: scroll;
}

#camera_box {
    width: 100%;
    height: 100%;
}

.camera_sideBar {
    padding-top: 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 20%;
    min-width: 250px;
    height: calc(100% - 2%);
}

.camera_sideBar > div {
    width: 80%;
}

.camera_sideBarTitle {
    border-bottom: 1px solid black;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
    height: 30px;
}

.camera_sideBarTitle > h4 {
    font-size: 1.7em;
    letter-spacing: -0.05em;
}

.camera_sideBarTitle > a {
    color: #598FD1;
    cursor: pointer;
}

.camera_sideBarPosition, .camera_sideBarLocation {
    height: 18%;
}

.camera_sideBarPositionC, .camera_sideBarLocationC {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100px;
}

.camera_sideBarPositionC > div, .camera_sideBarLocationC > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 25%;
    height: 50%;
}

.camera_sideBarPositionC > div > h5, .camera_sideBarLocationC > div > h5 {
    font-weight: bold;
}

.camera_sideBarPositionC > div > input, .camera_sideBarLocationC > div > input {
    width: 100%;
    text-align: center;
}

.camera_sideBarAperture {
    height: 20%;
    min-height: 140px;
}

.camera_sideBarApertureC {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 100px;
}

.camera_apertureinputR {
    margin-right: 2%;
    border-left: 2px solid #ABABAB;
    border-right: 2px solid #ABABAB;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 230px;
    height: 30px;
}

.camera_apertureinputR::before {
    content: "";
    position: absolute;
    width: 2px;
    height: 100%;
    background-color: #ABABAB;
}

.camera_apertureinputR > input[type=range] {
    z-index: 50;
    width: 100%;
    height: 20px;
    margin: 0;
    -webkit-appearance: none;
    background: none;
}

.camera_apertureinputR > input[type=range]:focus {
    outline: none;
}

.camera_apertureinputR > input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 2px;
    cursor: pointer;
    background: #707070;
}

.camera_apertureinputR > input[type=range]::-webkit-slider-thumb {
    width: 8px;
    height: 30px;
    background: #384772;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -14px;
}

.camera_apertureinputT {
    width: 220px;
    height: 20px;
    outline: none;
    font-size: 1.2em;
    text-align: center;
}

.camera_sideBarVfor {
    height: 20%;
    min-height: 140px;
}

.camera_sideBarVforC {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 100px;
}

.camera_vforInputR {
    margin-right: 2%;
    border-left: 2px solid #ABABAB;
    border-right: 2px solid #ABABAB;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 230px;
    height: 30px;
}

.camera_vforInputR::before {
    content: "";
    position: absolute;
    width: 2px;
    height: 100%;
    background-color: #ABABAB;
}

.camera_vforInputR > input[type=range] {
    z-index: 50;
    width: 100%;
    height: 20px;
    margin: 0;
    -webkit-appearance: none;
    background: none;
}

.camera_vforInputR > input[type=range]:focus {
    outline: none;
}

.camera_vforInputR > input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 2px;
    cursor: pointer;
    background: #707070;
}

.camera_vforInputR > input[type=range]::-webkit-slider-thumb {
    width: 8px;
    height: 30px;
    background: #384772;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -14px;
}

.camera_vforInputT {
    width: 220px;
    height: 20px;
    outline: none;
    font-size: 1.2em;
    text-align: center;
}