::-webkit-scrollbar {display:none;}

input[type="number"]::-webkit-outer-spin-button,input[type="number"]::-webkit-inner-spin-button {-webkit-appearance: none;margin: 0;}

.onlineRayTracerObjectsPage {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: #EBEBEB;
    user-select: none;
}

.onlineRayTracerSideBar {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 18.5%;
    min-width: 180px;
    height: 100%;
    background-color: #1C1C1C;
    font-size: 0.85vw;
}

.sideBar_logo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 20%;
    min-height: 110px;
}

.sideBar_logo::after {
    content: '';
    width: 11.5vw;
    height: 6.2vw;
    background-image: url('/src/logo_W.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.sideBar_menu {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    height: 35%;
    min-height: 200px;
}

.sideBar_menu > ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 95%;
    height: 100%;
    list-style:none;
    background-color: #343434;
}

.sideBar_menu > ul > li {
    width: 100%;
    height: 25%;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.sideBar_menu > ul > li:hover {
    background-color: #b5daf5;
}

.sideBar_menu > ul > li > a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    font-size: 2.3em;
    text-decoration: none;
    letter-spacing: 0rem;
    color: #FFFFFF;
}

#goto_objectsP {
    background-color: #A2D2F4;
}

.objectsContents {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    position: relative;
    width: 81.5%;
    min-width: 650px;
    height: 100%;
    background-color: #FFFFFF;
}

.objects_topMenu {
    z-index: 5;
    display: grid;
    grid-gap: 5px;
    position: absolute;
    background-color: #343434;
}

/* @media all and (min-width: 1385px) { */
    .objects_topMenu {
        border-radius: 100px;
        padding: 0 20px 0 40px;
        grid-template-columns: repeat(8, 1fr);
        grid-template-rows: 1fr;
        top: 3%;
        left: 3%;
        width: 56vw;
        height: 3vw;
        /* min-width: 580px;*/
        min-height: 33px;
        font-size: 0.8vw;
    }
/* } */

/* @media (max-width: 1384px) and (min-width: 0px) {
    .objects_topMenu {
        border-radius: 0 0 10px 0;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(8, 1fr);
        width: 20%;
        height: 50%;
        min-width: 200px;
        min-height: 330px;
    }
} */

#object_top {
    /* color: #FFFFFF; */
}

#object_front {
    color: #A4A4A4;
}

#object_right {
    color: #A4A4A4;
}

.objects_topMenu > div {
    display: flex;
    align-items: center;
    justify-content: center;
}

.objects_topMenu > div > a, .objects_topMenu > div > a:active {
    color: #FFFFFF;
    font-size: 2em;
    text-decoration: none;
    cursor: pointer;
}

.objects_main {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: 100%;
    background: #bdbdbd;
    overflow-y: scroll;
}

#objects_box {
    width: 100%;
    height: 100%;
}

.objects_sideBar {
    padding-top: 1%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 20%;
    /* min-width: 250px; */
    height: calc(100% - 2%);
    font-size: 0.8vw;
    overflow-y: scroll;
}

.objects_sideBar > div {
    width: 80%;
    /* min-width: 250px; */
}

.objects_sideBarTitle {
    border-bottom: 1px solid black;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 22%;
    min-height: 22px;
}

.objects_sideBarTitle > h4 {
    font-size: 1.7em;
    letter-spacing: -0.05em;
}

.objects_sideBarTitle > a {
    margin-bottom: 5%;
    color: #598FD1;
    cursor: pointer;
}

.objects_sideBarPosition {
    height: 18%;
    min-height: 100px;
}

.random .objects_sideBarPosition {
    height: 0;
    min-height: 0;
    overflow: hidden;
}

.objects_sideBarPositionC {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 60%;
}

.objects_sideBarPositionC > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 25%;
    height: 50%;
}

.objects_sideBarPositionC > div > h5 {
    font-weight: bold;
}

.objects_sideBarPositionC > div > input {
    width: 100%;
    height: 30%;
    font-size: 1em;
    text-align: center;
}

.objects_sideBarRadius {
    height: 20%;
    min-height: 110px;
}

.random .objects_sideBarRadius {
    height: 0;
    min-height: 0;
    overflow: hidden;
}

.objects_sideBarRadiusC {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 60%;
}

.objects_radiusinputR {
    margin-right: 2%;
    border-left: 2px solid #ABABAB;
    border-right: 2px solid #ABABAB;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 90%;
    height: 30%;
}

.objects_radiusinputR::before {
    content: "";
    position: absolute;
    width: 0.1vw;
    height: 100%;
    background-color: #ABABAB;
}

.objects_radiusinputR > input[type=range] {
    z-index: 50;
    width: 100%;
    height: 100%;
    margin: 0;
    -webkit-appearance: none;
    background: none;
    overflow: hidden;
}

.objects_radiusinputR > input[type=range]:focus {
    outline: none;
}

.objects_radiusinputR > input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 0.1vw;
    cursor: pointer;
    background: #707070;
}

.objects_radiusinputR > input[type=range]::-webkit-slider-thumb {
    width: 3%;
    height: 100px;
    background: #384772;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -14px;
}

.objects_radiusinputT {
    width: 85%;
    height: 20%;
    outline: none;
    font-size: 1.2em;
    text-align: center;
}

.objects_sideBarSurface {
    height: 18%;
    min-height: 110px;
}

.random .objects_sideBarSurface {
    height: 0;
    min-height: 0;
    overflow: hidden;
}

.objects_sideBarSurfaceC {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    height: calc(95% - 31px);
    /* min-height: 80px; */
}

.objects_sideBarSurfaceC > a {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 25%;
    height: 80%;
    cursor: pointer;
    transition: border 0.2s ease-in-out;
}

.metal #object_metal, .nonMetal #object_nonMetal, .glass #object_glass {
    border: 3px solid #d1d1d1;
}

.objects_sideBarSurfaceC > a > h5 {
    display: flex;
    align-items: center;
    height: 32px;
    font-size: 1.1em;
    font-weight: bold;
}

.objects_sideBarSurfaceC > a > img {
    width: 60%;
    height: 40%;
    background-color: #1C1C1C;
}

.objects_sideBarRoughness {
    height: 18%;
    min-height: 110px;
}

.nonMetal .objects_sideBarRoughness, .glass .objects_sideBarRoughness, .random .objects_sideBarRoughness {
    height: 0;
    min-height: 0;
    overflow: hidden;
}

.objects_sideBarRoughnessC {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 60%;
}

.objects_roughnessinputR {
    margin-right: 2%;
    border-left: 2px solid #ABABAB;
    border-right: 2px solid #ABABAB;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 90%;
    height: 30%;
}

.objects_roughnessinputR::before {
    content: "";
    position: absolute;
    width: 0.1vw;
    height: 100%;
    background-color: #ABABAB;
}

.objects_roughnessinputR > input[type=range] {
    z-index: 50;
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    margin: 0;
    -webkit-appearance: none;
    background: none;
    overflow: hidden;
}

.objects_roughnessinputR > input[type=range]:focus {
    outline: none;
}

.objects_roughnessinputR > input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 0.1vw;
    cursor: pointer;
    background: #707070;
}

.objects_roughnessinputR > input[type=range]::-webkit-slider-thumb {
    width: 3%;
    height: 100px;
    background: #384772;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -14px;
}

.objects_roughnessinputT {
    width: 85%;
    height: 20%;
    outline: none;
    font-size: 1.2em;
    text-align: center;
}

.objects_sideBarColors {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 26%;
}

.glass .objects_sideBarColors, .random .objects_sideBarColors {
    height: 0;
    min-height: 0;
    overflow: hidden;
}

.objects_sideBarColorsC {
    margin-top: 3%;
    border: 1px solid black;
    padding: 3% 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
    height: auto;
}

.objects_sideBarRefractive {
    height: 0;
    min-height: 0;
    overflow: hidden;
}

.glass .objects_sideBarRefractive {
    height: 18%;
    /* min-height: 125px; */
}

.objects_sideBarRefractiveC {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 60%;
}

.objects_refractiveinputR {
    margin-right: 2%;
    border-left: 2px solid #ABABAB;
    border-right: 2px solid #ABABAB;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 90%;
    height: 30%;
}

.objects_refractiveinputR::before {
    content: "";
    position: absolute;
    width: 0.1vw;
    height: 100%;
    background-color: #ABABAB;
}

.objects_refractiveinputR > input[type=range] {
    z-index: 50;
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    margin: 0;
    -webkit-appearance: none;
    background: none;
    overflow: hidden;
}

.objects_refractiveinputR > input[type=range]:focus {
    outline: none;
}

.objects_refractiveinputR > input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 0.1vw;
    cursor: pointer;
    background: #707070;
}

.objects_refractiveinputR > input[type=range]::-webkit-slider-thumb {
    width: 3%;
    height: 100px;
    background: #384772;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -14px;
}

.objects_refractiveinputT {
    width: 85%;
    height: 20%;
    outline: none;
    font-size: 1.2em;
    text-align: center;
}

.objects_sideBarRandom {
    height: 0;
    min-height: 0;
    overflow: hidden;
}

.random .objects_sideBarRandom {
    height: 25%;
}

.objects_sideBarRandomC {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 35%;
}

.objects_sideBarRandomC > p {
    font-size: 1.2rem;
    font-weight: bold;
}

.objects_sideBarRandomC > input {
    width: 25%;
    text-align: center;
}

.objects_sideBarRandomB {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40%;
}

.objects_sideBarRandomB > button {
    border: 0;
    border-radius: 100px;
    width: 44.74%;
    height: 34.9%;
    background-color: #384772;
    color: #FFFFFF;
    letter-spacing: 0.1rem;
    outline: none;
    cursor: pointer;
}